h1 a {
    color:#BA2D97;
    font-family: 'Lobster';
}
body{
    padding-left: 15px;
}
.encabezado{
    background-color:darkslategrey;
    margin-top:0;
    padding: 20px 20px 20px 40px;
}
.encabezado h1, .encabezado h1 a, .encabezado h1 a:visited, .encabezado h1 a:active{
    color:coral;
    font-size: 36pt;
    text-decoration: underline;
}
.contenido {
    margin-left: 40px;
}
h1,h2,h3,h4{
    font-family: 'Lobster',cursive;
}
.date{
    float:right;
    color:cadetblue;
}

.post {
    margin-bottom: 70px;
}
.post h1 a, .post h1 a:visited{
    color:darkred;
}
.date {
        float: right;
        color: #828282;
    }
